html {
	margin: 0px; height: 100%; overflow: auto; font-size: 14px; min-height: 100%;
}
body {
	margin: 0px; height: 100%; overflow: auto; font-size: 14px; min-height: 100%;
}
body {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h1 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h2 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h3 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h4 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h5 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
h6 {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
a {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
p {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
label {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
input {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
textarea {
	font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,Microsoft YaHei,\5FAEÈíÑÅºÚ,sans-serif !important;
}
body {
	background: rgb(239, 243, 245); overflow: visible;
}
#app {
	min-height: 100%;
}
#app::after {
	display: block; content: "";
}
.footer {
	height: 60px;
}
#app::after {
	height: 60px;
}
.footer {
	width: 100%; bottom: 0px; color: rgb(173, 173, 173); position: absolute; z-index: 1; background-color: rgb(51, 51, 51);
}
.footer > div {
	width: 100%; height: inherit; position: absolute;
}
.footer > div > div {
	height: inherit;
}
.footer .uk-flex {
	height: inherit;
}
.footer-logo img {
	height: 45px;
}
.footer .uk-subnav {
	margin-top: 5px;
}
.footer li > a {
	color: rgb(173, 173, 173);
}
.footer li > a:hover {
	color: rgb(255, 255, 255);
}
.footer .site-icon-list .app-qrcode {
	width: 130px; height: 130px; margin-top: -141px; margin-left: -45px; display: none; position: absolute; z-index: 3; box-shadow: 0px 0px 6px rgba(14,22,30,0.3);
}
.footer .site-icon-list:hover .app-qrcode {
	display: block;
}
[v-cloak] {
	display: none !important;
}
[v-test] {
	display: none;
}
.bannder-text {
	line-height: 40px; font-size: 32px;
}
.sign-content {
	padding: 15px; left: 50%; top: 50%; width: 400px; margin-left: -200px; position: absolute; box-sizing: border-box;
}
@media all and (min-width:960px)
{
.uk-form-horizontal .uk-form-label {
	width: 100px; margin-top: 5px; float: left;
}
.uk-form-horizontal .uk-form-controls {
	margin-left: 115px;
}
.uk-form-horizontal .uk-form-controls-text {
	padding-top: 5px;
}
.uk-form-horizontal .uk-form-label {
	width: 100px; margin-top: 5px; float: left;
}
.uk-form-horizontal .uk-form-controls {
	margin-left: 115px;
}
.uk-form-horizontal .uk-form-controls-text {
	padding-top: 5px;
}
}
.uk-notify-message-info {
	background: rgb(0, 168, 230);
}
@media all and (max-width:960px)
{
html {
	line-height: 18px; font-size: 12px;
}
body {
	line-height: 18px; font-size: 12px;
}
}
@media all and (max-width:768px)
{
.uk-nav {
	font-size: 16px;
}
.footer {
	height: 110px;
}
#app::after {
	height: 110px;
}
.footer .uk-subnav {
	margin: 20px 0px 10px; width: 80px; height: 80px;
}
.footer .uk-subnav > * {
	margin-top: 0px; display: block;
}
.footer .footer-copyright {
	margin: 20px 0px 10px; height: 80px;
}
.footer .footer-copyright span {
	display: block;
}
.sign-content {
	left: 50%; width: 100%; margin-left: -240px; max-width: 480px;
}
.uk-h1 {
	line-height: 38px; font-size: 28px;
}
h1 {
	line-height: 38px; font-size: 28px;
}
.uk-h2 {
	line-height: 30px; font-size: 20px;
}
h2 {
	line-height: 30px; font-size: 20px;
}
.my-full-small {
	width: 100%;
}
.my-half-small {
	width: 50%;
}
}
@media all and (max-width:480px)
{
.sign-content {
	left: 0px; width: 100%; margin-left: 0px; max-width: 480px;
}
.uk-h1 {
	line-height: 32px; font-size: 22px;
}
h1 {
	line-height: 32px; font-size: 22px;
}
.uk-h2 {
	line-height: 28px; font-size: 18px;
}
h2 {
	line-height: 28px; font-size: 18px;
}
}
