.pswp__button {
	OVERFLOW: visible; CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 44px; BORDER-RIGHT: 0px; WIDTH: 44px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: 0px; POSITION: relative; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT: 0px; DISPLAY: block; PADDING-RIGHT: 0px; -webkit-box-shadow: none; box-shadow: none; opacity: 0.75; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; -webkit-appearance: none
}
.pswp__button:focus {
	opacity: 1
}
.pswp__button:hover {
	opacity: 1
}
.pswp__button:active {
	OUTLINE-WIDTH: medium; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; opacity: 0.9
}
.pswp__button:unknown {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; PADDING-RIGHT: 0px
}
.pswp__ui--over-close .pswp__button--close {
	opacity: 1
}
.pswp__button {
	HEIGHT: 44px; WIDTH: 44px; BACKGROUND: url(default-skin.png) no-repeat 0px 0px; background-size: 264px 88px
}
.pswp__button--arrow--left:before {
	HEIGHT: 44px; WIDTH: 44px; BACKGROUND: url(default-skin.png) no-repeat 0px 0px; background-size: 264px 88px
}
.pswp__button--arrow--right:before {
	HEIGHT: 44px; WIDTH: 44px; BACKGROUND: url(default-skin.png) no-repeat 0px 0px; background-size: 264px 88px
}

@media Unknown    
{
.pswp--svg .pswp__button {
	BACKGROUND-IMAGE: url(default-skin.svg)
}
.pswp--svg .pswp__button--arrow--left:before {
	BACKGROUND-IMAGE: url(default-skin.svg)
}
.pswp--svg .pswp__button--arrow--right:before {
	BACKGROUND-IMAGE: url(default-skin.svg)
}
.pswp--svg .pswp__button--arrow--left {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.pswp--svg .pswp__button--arrow--right {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
    }
.pswp__button--close {
	BACKGROUND-POSITION: 0px -44px
}
.pswp__button--share {
	BACKGROUND-POSITION: -44px -44px
}
.pswp__button--fs {
	DISPLAY: none
}
.pswp--supports-fs .pswp__button--fs {
	DISPLAY: block
}
.pswp--fs .pswp__button--fs {
	BACKGROUND-POSITION: -44px 0px
}
.pswp__button--zoom {
	BACKGROUND-POSITION: -88px 0px; DISPLAY: none
}
.pswp--zoom-allowed .pswp__button--zoom {
	DISPLAY: block
}
.pswp--zoomed-in .pswp__button--zoom {
	BACKGROUND-POSITION: -132px 0px
}
.pswp--touch .pswp__button--arrow--left {
	VISIBILITY: hidden
}
.pswp--touch .pswp__button--arrow--right {
	VISIBILITY: hidden
}
.pswp__button--arrow--left {
	HEIGHT: 100px; WIDTH: 70px; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: absolute; MARGIN-TOP: -50px; TOP: 50%
}
.pswp__button--arrow--right {
	HEIGHT: 100px; WIDTH: 70px; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: absolute; MARGIN-TOP: -50px; TOP: 50%
}
.pswp__button--arrow--left {
	LEFT: 0px
}
.pswp__button--arrow--right {
	RIGHT: 0px
}
.pswp__button--arrow--left:before {
	HEIGHT: 30px; WIDTH: 32px; POSITION: absolute; TOP: 35px
}
.pswp__button--arrow--right:before {
	HEIGHT: 30px; WIDTH: 32px; POSITION: absolute; TOP: 35px
}
.pswp__button--arrow--left:before {
	BACKGROUND-POSITION: -138px -44px; LEFT: 6px
}
.pswp__button--arrow--right:before {
	RIGHT: 6px; BACKGROUND-POSITION: -94px -44px
}
.pswp__counter {
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none
}
.pswp__share-modal {
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none
}
.pswp__share-modal {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LEFT: 0px; Z-INDEX: 1600; DISPLAY: block; TOP: 0px; PADDING-RIGHT: 10px; opacity: 0; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; -webkit-backface-visibility: hidden; will-change: opacity
}
.pswp__share-modal--hidden {
	DISPLAY: none
}
.pswp__share-tooltip {
	WIDTH: auto; BACKGROUND: #fff; RIGHT: 44px; POSITION: absolute; Z-INDEX: 1620; DISPLAY: block; TOP: 56px; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); -webkit-transition: -webkit-transform 0.25s; transition: transform 0.25s; transform: translateY(6px); -webkit-transform: translateY(6px); -ms-transform: translateY(6px); border-radius: 2px; -webkit-backface-visibility: hidden; will-change: transform
}
.pswp__share-tooltip A {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #000; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 12px; DISPLAY: block; LINE-HEIGHT: 18px; PADDING-RIGHT: 12px
}
.pswp__share-tooltip A:hover {
	TEXT-DECORATION: none; COLOR: #000
}
.pswp__share-tooltip A:first-child {
	border-radius: 2px 2px 0 0
}
.pswp__share-tooltip A:unknown {
	border-radius: 0 0 2px 2px
}
.pswp__share-modal--fade-in {
	opacity: 1
}
.pswp__share-modal--fade-in .pswp__share-tooltip {
	transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0)
}
.pswp--touch .pswp__share-tooltip A {
	PADDING-BOTTOM: 16px; PADDING-TOP: 16px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
A.pswp__share--facebook:before {
	BORDER-TOP: transparent 6px solid; HEIGHT: 0px; BORDER-RIGHT: transparent 6px solid; WIDTH: 0px; RIGHT: 15px; BORDER-BOTTOM: #fff 6px solid; POSITION: absolute; BORDER-LEFT: transparent 6px solid; DISPLAY: block; TOP: -12px; pointer-events: none; -webkit-pointer-events: none; -moz-pointer-events: none
}
A.pswp__share--facebook:hover {
	BACKGROUND: #3e5c9a; COLOR: #fff
}
A.pswp__share--facebook:hover:before {
	BORDER-BOTTOM-COLOR: #3e5c9a
}
A.pswp__share--twitter:hover {
	BACKGROUND: #55acee; COLOR: #fff
}
A.pswp__share--pinterest:hover {
	BACKGROUND: #ccc; COLOR: #ce272d
}
A.pswp__share--download:hover {
	BACKGROUND: #ddd
}
.pswp__counter {
	FONT-SIZE: 13px; HEIGHT: 44px; POSITION: absolute; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LEFT: 0px; LINE-HEIGHT: 44px; TOP: 0px; PADDING-RIGHT: 10px; opacity: 0.75
}
.pswp__caption {
	WIDTH: 100%; POSITION: absolute; LEFT: 0px; MIN-HEIGHT: 44px; BOTTOM: 0px
}
.pswp__caption SMALL {
	FONT-SIZE: 11px; COLOR: #bbb
}
.pswp__caption__center {
	FONT-SIZE: 13px; MAX-WIDTH: 420px; COLOR: #ccc; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 0px auto; LINE-HEIGHT: 20px; PADDING-RIGHT: 10px
}
.pswp__caption--empty {
	DISPLAY: none
}
.pswp__caption--fake {
	VISIBILITY: hidden
}
.pswp__preloader {
	HEIGHT: 44px; WIDTH: 44px; POSITION: absolute; DIRECTION: ltr; MARGIN-LEFT: -22px; LEFT: 50%; TOP: 0px; opacity: 0; -webkit-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; will-change: opacity
}
.pswp__preloader__icn {
	HEIGHT: 20px; WIDTH: 20px; MARGIN: 12px
}
.pswp__preloader--active {
	opacity: 1
}
.pswp__preloader--active .pswp__preloader__icn {
	BACKGROUND: url(preloader.gif) no-repeat 0px 0px
}
.pswp--css_animation .pswp__preloader--active {
	opacity: 1
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
	-webkit-animation: clockwise 500ms linear infinite; animation: clockwise 500ms linear infinite
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
	-webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite
}
.pswp--css_animation .pswp__preloader__icn {
	HEIGHT: 14px; WIDTH: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: absolute; LEFT: 15px; MARGIN: 0px; TOP: 15px; opacity: 0.75
}
.pswp--css_animation .pswp__preloader__cut {
	OVERFLOW: hidden; HEIGHT: 14px; WIDTH: 7px; POSITION: relative
}
.pswp--css_animation .pswp__preloader__donut {
	BOX-SIZING: border-box; BORDER-TOP: #fff 2px solid; HEIGHT: 14px; BORDER-RIGHT: #fff 2px solid; WIDTH: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: transparent 2px solid; POSITION: absolute; LEFT: 0px; MARGIN: 0px; BORDER-LEFT: transparent 2px solid; TOP: 0px; -webkit-box-sizing: border-box; border-radius: 50%
}

@media Unknown    
{
.pswp__preloader {
	POSITION: relative; FLOAT: right; LEFT: auto; MARGIN: 0px; TOP: auto
}
    }
.pswp__ui {
	Z-INDEX: 1550; VISIBILITY: visible; opacity: 1; -webkit-font-smoothing: auto
}
.pswp__top-bar {
	HEIGHT: 44px; WIDTH: 100%; POSITION: absolute; LEFT: 0px; TOP: 0px
}
.pswp__caption {
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-backface-visibility: hidden; will-change: opacity
}
.pswp__top-bar {
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-backface-visibility: hidden; will-change: opacity
}
.pswp--has_mouse .pswp__button--arrow--left {
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-backface-visibility: hidden; will-change: opacity
}
.pswp--has_mouse .pswp__button--arrow--right {
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); -webkit-backface-visibility: hidden; will-change: opacity
}
.pswp--has_mouse .pswp__button--arrow--left {
	VISIBILITY: visible
}
.pswp--has_mouse .pswp__button--arrow--right {
	VISIBILITY: visible
}
.pswp__top-bar {
	
}
.pswp__caption {
	
}
.pswp__ui--fit .pswp__top-bar {
	
}
.pswp__ui--fit .pswp__caption {
	
}
.pswp__ui--idle .pswp__top-bar {
	opacity: 0
}
.pswp__ui--idle .pswp__button--arrow--left {
	opacity: 0
}
.pswp__ui--idle .pswp__button--arrow--right {
	opacity: 0
}
.pswp__ui--hidden .pswp__top-bar {
	opacity: 0.001
}
.pswp__ui--hidden .pswp__caption {
	opacity: 0.001
}
.pswp__ui--hidden .pswp__button--arrow--left {
	opacity: 0.001
}
.pswp__ui--hidden .pswp__button--arrow--right {
	opacity: 0.001
}
.pswp__ui--one-slide .pswp__button--arrow--left {
	DISPLAY: none
}
.pswp__ui--one-slide .pswp__button--arrow--right {
	DISPLAY: none
}
.pswp__ui--one-slide .pswp__counter {
	DISPLAY: none
}
.pswp__element--disabled {
	DISPLAY: none !important
}
.pswp--minimal--dark .pswp__top-bar {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
